:root {
    --standard: #89f357;
    --open: #438400;
    --found: #722c80;
  }

div.smallNewGame {
    height: 3em;
    margin: 1em;
}

div.smallNewGame > div, button#smallStartNewGame {
    float: left;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

div#smallExpiredToken, div#largeExpiredToken {
    margin-bottom: 0.5em;
}

button#largeExpiredTokenButton, button#smallExpiredTokenButton {
    margin-top: 0.5em;
}

div#smallExpiredToken > span, div#largeExpiredToken > span {
    margin-right: 0.5em;
}

div.largeNewGame {
    visibility: hidden;
    max-width: 0px;
    max-height: 0px;
    margin: 0px;
    padding: 0px;
}

div.gameBoard > div {
    width: 2em;
    height: 2em;
    border: 1px;
    border-style: solid;
    cursor: pointer;
    background-color: var(--standard);
    margin-bottom: 1em;
    text-align: center;
    font-size: 23px;
}

div.gameBoard > div.open {
    background-color: var(--open);
}

div.gameBoard > div.found {
    background-color: var(--found);
}

div.gameBoard {
    display: grid;
    min-width: 100%;
    max-width: 100%;
}

div.gameBoardSize6 {
    grid: repeat(6, 15%) / auto-flow 17%;
}

div.gameBoardSize4 {
    grid: repeat(4, 18%) / auto-flow 17%;
}

div.gameBoardSize2 {
    grid: repeat(2, 41%) / auto-flow 17%;
}

div.extraInfo > div {
    padding-bottom: 1em;
}

div.gameBoard > div > img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 481px){    
    div.gameBoard > div {
        font-size: 31px;
    }
}

@media (min-width: 769px){
    html {
        overflow: hidden;
    }

    div.topInfo {
        display: flex;
        align-items: flex-end;
    }

    div.smallNewGame {
        visibility: hidden;
        max-width: 0px;
        max-height: 0px;
        margin: 0px;
        padding: 0px;
    }

    div.smallNewGame > div, button#smallStartNewGame {
        float: none;
        margin-bottom: 0px;
        margin-right: 0px;
    }

    div.largeNewGame {
        visibility: initial;
        max-width: initial;
        max-height: initial;
        margin: initial;
        padding: initial;
    }

    div.flex-loggedin {
        display: flex;
    }

    div.flex-loggedin > button {
        margin-right: 0.5em;
    }

    div.gameBoardSize6 {
        grid: repeat(6, 12%) / auto-flow 17%;
    }

    div.gameBoardSize4 {
        grid: repeat(4, 19%) / auto-flow 17%;
    }

    div.gameBoardSize2 {
        grid: repeat(2, 38%) / auto-flow 17%;
    }

    div.gameBoard > div {
        font-size: 41px;
    }

    div.extraInfo {
        overflow: hidden;
        margin-top: -8.7em;
    }
    
    div.gameBoardPosition {
        min-width: 75%;
        max-width: 75%;
        height: 34.6em;
        float: left;
        overflow: hidden;
    }
}

@media (min-width: 1025px) {

    div.extraInfo {
        margin-top: -2em;
    }

    div.gameBoardSize6 {
        grid: repeat(6, 12%) / auto-flow 16%;
    }

    div.gameBoardSize4 {
        grid: repeat(4, 19%) / auto-flow 16%;
    }

    div.gameBoardSize2 {
        grid: repeat(2, 38%) / auto-flow 16%;
    }

    div.gameBoard > div {
        font-size: 42px;
        width: 95%;
    }
}